html, body { 
    scroll-behavior: smooth
  }

body{
    font-family: 'PT Serif', serif;
    min-width: 1490px;
    background: rgb(247, 246, 246);
}

.curr{
    max-width: 1500px;
}



button, input, header{
    font-family: 'PT Serif', serif;
}


img{
    margin: 0;
    padding: 0;
}



.accept{
    margin-top: 40px;
    text-align: center;
}

.accept a{
    background-color: orange;
    padding: 20px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.buttonsStats{
    position: absolute;
    transform: translateX(50px);
}

.buttonsStats1{
    margin-bottom: 12.5px;
}

.star{
    position: relative;
    left: 460px;
    font-size: 20px;
}

.star:hover{
    cursor: pointer;
}

.netTabl{
    border-bottom: 2px dashed rgb(64, 0, 255);
    width: 450px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 120px;
}

.netTabl:hover{
    font-weight: 900;
    color:rgba(0, 0, 0, .8)
}

.score{
    margin-right: 50px;
    margin-bottom: 100px;
    font-size: 35px;
}

.fff{
    margin-bottom: 20px;
    margin-top: 10px;
}
.testEnd{
    position: relative;
    left: 170px;
    bottom: 0px;
    width: 180px;
    font-weight: 900
}

.statsForEge{
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
}

.statsForEge1{
    font-weight: 900;
    text-align: center;
}


.pop_up{
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

.pop_up1{
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: transparent;
    z-index: 2;
}

.pop_up_container{
    display: flex;
    width: 100%;
    height: 60%;
    text-align: center;
}

.pop_up_container1{
    display: flex;
    width: 100%;
    height: 50%;
    text-align: center;
}

.pop_up_body{
    margin: auto;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    text-align: left;
    font-size: 25px;
    position: relative;
}

.pop_up_body1{
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 15px 20px 15px;
    position: relative;
    text-align: left;
    font-size: 25px;
    width: 800px;
}

.testEnd1{
    position: relative;
    left: 80px;
}
.pop_up_body p{
    font-size: 28px;
    font-weight: 600;
    color: black;
    margin-bottom: 40px;
    
}

.pop_up.active{
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(0%) scale(100%);
}

.pop_up1.active{
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(0%) scale(100%);
}

.pop_up_body1 button{
    position: relative;
    left: 300px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    margin-top: 30px;
    margin-right: 30px;
    padding: 20px 0px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: black;
    border-radius: 10px;
}

.pop_up_close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.pop_up_close1{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}












.fullProblem{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;

}

.prob2{
    position: relative;
    left: 11px;
}

.prob3{
    position: relative;
    left: 200px;
}

.prob4{
    position: relative;
    left: 53px;
}

.prob5{
    position: relative;
    right: 20px;
}

.prob6{
    position: relative;
    left: 147px;
}

.prob7{
    position: relative;
    right: 4px;
}

.prob8{
    position: relative;
    left: 136px;
}

.prob9{
    position: relative;
    left: 28px;
}

.prob10{
    position: relative;
    left: 52px;
}

.prob11{
    position: relative;
    left: 78px;
}

.prob12{
    position: relative;
    left: 48px;
}

.rules{
    text-align: left;
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
    border: 4px;
    border: 2px solid rgb(64, 0, 255);
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.sest{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ddd{
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.iinf{
    position: relative;
    left: 70px;
}

hr{
    background-color: rgb(64, 0, 255);
    color: rgb(64, 0, 255);
    height: 1.5px;
    border: 0px;
}

.toStress{
    margin-bottom: 0px;
    font-size: 30px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    cursor: pointer;
    margin-bottom: 50px;
}

.toStress:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.toStress1{
    margin-bottom: 0px;
    font-size: 30px;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    margin-bottom: 100px;
    cursor: pointer
}

.toStress1:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.first{
    font-size: 30px;
    position: relative;
    left: 100px;
}


.text{
    left: 35px;
    position: relative;
    font-weight: 900;
    margin-bottom: 30px;
}
.head{
    z-index: 10000;
    text-align: center;
    width: 97%;
    position: relative;
    left: 23px;
    height: 200px;
    background-color: white;

    margin-bottom: 60px;
    box-shadow: 0 4px 10px rgb(64, 0, 255);
    font-size: 25px;
    display: block;

    
}

footer{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}


.Stress{
    text-align: center;
    margin-bottom: 70px;
}
.text-center {
    text-align: center;
    font-weight: 900;
    position: relative;
    right: 10px;
    margin-top: 50px;
    
  }

.fire{
    width: 40px;
    height: 40px;
    position: relative;
    right: 280px;
    bottom: 105px;
}

.HeadPart{
    text-align: center;
    font-weight: 900;
    margin-top: 120px;
  }

.table{
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
    width: 1100px;
    height: 100px;
    
}

.tdN{
    width: 260px;
}

.td1{
    width: 50px;
}



table{
    border: 2px solid rgb(64, 0, 255);
    border-radius: 10px;
    background-color: rgb(245, 249, 252);
}

.table3{
    margin: auto;
    margin-top: 10px;
    background-color: rgb(245, 249, 252);
}

.center{
    text-align: center;
}

.AAAA{
    height: 55px;
    width: 200px;
}

.deleteVar{
    cursor: pointer;
    color: red;
}

.deleteVar:hover{
    color: rgb(102, 42, 42)
}

.table2{
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    width: 1300px;
    background-color: white;
    margin-left: 40px;
    margin-right: 40px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 17px;
}


.zhir{
    font-weight: 900;
}

.vsego{
    width: 200px;
}

.show{
    visibility: visible;
}

.close{
    display:none;
}


.tablePar{
    margin: auto;
    text-align: center;
}

.conteynerMain{
    display: block;
    position: relative;
    width: 1200px;
    margin-right: 0px;
    margin-left: 0px;
}

.contEge{
    margin: 0 auto;
    width: 250px;
}

.doEge{
    margin: 0 auto;
    border: 2px solid rgb(64, 0, 255);
    border-radius: 12px;
    background-color: white;
    margin-top: 30px;
    width: 200px;
}

.dayLeft{
    color: red
}



.main{
    margin-left: 0;
    width: 1300px;
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
}

[data-button='plus']{
    margin-right: 30px;
    font-size: 20px;
    border-radius: 100%;
    background-color: rgb(203, 189, 246);
}

[data-button='minus']{
    font-size: 20px;
    border-radius: 100%;
    background-color: rgb(203, 189, 246);
}

[data-button='plus']:hover{
    background-color: rgb(46, 222, 46);
    font-weight: 900
}
[data-button='minus']:hover{
    background-color: red;
    font-weight: 900
}
.submit{
    border-radius: 12px;
    background-color: rgb(199, 196, 195);
    font-size: 20px;
}

.submit:hover{
    background-color: rgb(146, 142, 141);
    font-weight: 900;
}
.exam {
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer
}
.firstPartBtn:hover{
    font-weight: 900;
}

.secondPartBtn:hover{
    font-weight: 900;
}

.firstPartBtn{
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    width: 250px;
}

.secondPartBtn{
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    width: 250px;
}

.firstTriple{
    margin-top: 50px;
}

.btnReal{
    margin-bottom: 100px;
}
.real {
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    width: 400px;
    height: 50px;
    margin-right: 50px;
}
a {
    text-decoration:none;
    color: black
  }

.indexText{
    cursor: pointer;
    position: relative;
    bottom: 3px;
}

.QA{
    position: relative;
    right: 30px;
}

.indexText{
    border-bottom: 0.1rem dashed;
}
.indexText:hover{
    font-weight: 900;
}
.nameProblem{
   text-decoration: none;
   color: black;
   text-align: center;
   font-size: 30px;
   width: fit-content;
   border-bottom-style: dotted;
   transition: .3s;
   background: linear-gradient(to right, #00ff03, #ff9e55, #9a40ff, #26ff00);
   background-size: 0 3px;
   background-position: 0 100%;
   background-repeat: no-repeat;
   width: 100px;
}
.nameProblem:hover{
    background-size: 100% 3px;
    border-bottom-style: none;
    font-weight: 900;
}
.variantBTN{
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer
}
.clear {
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    margin-bottom: 100px; 
    cursor: pointer
}

.clearAll {
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    margin-bottom: 3px; 
    cursor: pointer
}

.start {
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(238, 235, 235);
    width: 50px;
    text-align: center;
}

.min{
    position: relative;
    left: 4px;
    margin-bottom: 3px;
}

.finish {
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(238, 235, 235);
    width: 50px;
    text-align: center;
}

.r{
    font-size: 24px;
}

.exam:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.real:hover{
    font-weight: 900;
}

.boom:active{
    animation: shake 0.01s;
    animation-iteration-count: infinite;
}




.vk{
    width: 50px;
    position: relative;
    left:150px;
    top: 17px;
    margin-right: 15px;
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.variantBTN:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}
.clear:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.clearAll:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.accept{
    border-radius: 12px;
    font-size: 30px;
    background-color: white;
    width: 370px;
    height: 60px;
}
.back {
    position: relative;
    left: 30px;
    margin-left: 20px;
    border-radius: 12px;
    font-size: 30px;
    background-color: white;
    width: 370px;
    height: 60px;
}
.back:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}
.accept:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}
.end{
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 40px;
}

.end1{
    text-align: center;
    margin-top: 40px; 
}

.lvl{
    margin-bottom: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    padding: 0
}
td{
    text-align: center;
    width: 100px;
}



.name{
    margin: 0 auto;
    margin-top: 20px;
}

.name1{
    margin: 0 auto;
    margin-top: 10px;
}

.name2{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}



.smallRed{
    background-color: rgb(206, 117, 117)
}

.smallGreen{
    background-color: rgb(155, 243, 155)
}

.countProblem{
    position: relative;
    width: 40px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    border-radius: 60%;
}

.font-weight{
    font-weight: 900
}

.countProblem:hover{
    font-weight: 900;
}

.wwww{
    position: relative;
    color: black;
    font-size: 22px;
}

.answerSecondConteyner{
    position: absolute;
    top: 9px;
    left: 200px;
    font-size: 20px;
}

.answerSecond{
    font-size: 18px;
}

.asd{
    position: absolute;
    right: 600px;
    top: 10px;
    width: 1000px;
}


.radioButtons{
    color: black;
    position: absolute;
    bottom: 320px;
    right: 100px;
    font-size: 24px;
}

.tR{
    margin-right: 10px;
}

.link2 {
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    margin: 100px auto 0;
    font-size: 30px;
    width: fit-content;
    padding: 10px;
    
    transition: .3s;
    background: linear-gradient(to right, #00ff03, #ff9e55, #9a40ff, #26ff00);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
 }
 .link2:hover {
    background-size: 100% 3px;
    
 }

body {
    font-size: 25px;
    text-align: center; 

    margin: 0 auto;
}

.rt2{
    position: relative;
    left: 50px;
}

.rt1{
    position: relative;
    left: 90px;
}

.rt3{
    position: relative;
    right: 30px;
}

.rt4{
    position: relative;
    left: 30px;
}
.rt5{
    position: relative;
    right: 30px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 70px;
    margin-bottom: 20px;
   
}

.rt:hover{
    font-weight: 900;

}

.rt{
    margin-right: 70px;
    border-bottom: 2px solid rgb(64, 0, 255);
    cursor: pointer;
    font-size: 25px;

}

.greenColor1{
    background-color: rgb(46, 222, 46)
}
.redColor1{
    background-color: #e05959
}
.yellowColor1{
    background-color: orange
}


.greenColor{
    color: rgb(46, 222, 46)
}
.redColor{
    color: #e05959
}
.yellowColor{
    color: orange
}
.allConteynerPr{
    font-size: 25px;
    text-align: center;
}

.flitr{
    display: flex;
    position: relative;
    left: 400px;
    margin-bottom: 70px;
    margin-top: 10px;
    width: 100px;
}

.flitrConteynerByBox{
    margin-left: 200px;
}

.SSS{
    text-align: left;
    width: 600px;

}

.fil{
    position: relative;
    right: 100px;
}

.qqq{
    height: 50px;
}

.qqq1{
    position: relative;
    height: 50px;
}



.leave{
    border-radius: 12px;
    width: 370px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
}

.leave1{
    border-radius: 12px;
    width: 350px;
    height: 60px;
    font-size: 25px;
    margin-bottom: 15px;
    background-color: white;
    margin-bottom: 30px;
    margin-top: 30px;
}

.wer{
    position: relative;
    right: 500px;
    top: 8.5px;
    font-size: 17px;
}

.black{
    color: black;
}



.qa{
    font-size: 23px;
}

.backVar{
    border-radius: 12px;
    width: 350px;
    height: 60px;
    font-size: 25px;
    background-color: white;
    margin-bottom: 50px;
}

.leave:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.backVar:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

.leave1:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}
.w900{
    font-weight: 900;
}
.problemVar{
    background-color: white;
}

.time{
    font-size: 35px;

}

.optionCurr{
    font-family: 'PT Serif', serif;
    font-size: 23px;
    margin-bottom: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
}

.conteynerTime1{
    color: red;
    margin-bottom: 30px;
}
.time1{
    color: red;
    margin-bottom: 30px;
    font-weight: 900;
}

.time2{
     border-radius: 12px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    background-color: white;
}

.time3{
    border-radius: 12px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    background-color: white;
}

.time3:hover{
    font-weight: 900;
}

.time2:hover{
    font-weight: 900;
}
.thisScore{
    font-weight: 900;

}

.conteyner{
    border: 5px double black;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: white;
    text-align: center;  
    border-radius: 12px;
    border: solid 2.5px; 
}

.conteynerSecond{
    border: 5px double black;
    width: 1400px;
    margin: 0 auto;
    margin-bottom: 60px;
    background-color: white;
    text-align: center;   
}

.conteynerStress{
    border: 5px double black;
    width: 1430px;
    margin: 0 auto;
    background-color: white;
    text-align: center;   
    border-radius: 12px;
    border: solid 2.5px
}

body.variant{
    text-align: center;

}

body.curr{
    text-align: center;
}


.gray{
    background-color: grey;
}

.orange{
    background-color: orange;
}

.red{
    background-color: #e05959
}

.green{
    background-color: rgb(46, 222, 46)
}


.gray1{
    background-color: rgb(241, 241, 241);
}

.input{
    font-size: 23px;
    width: 140px;
    margin-right: 30px;
    border-radius: 12px;

}

.idInfo{
    text-align: center;
    position: relative;
    left: 50px;
    
}

.number{
    color: white;
    font-size: 20px;
    height: 30px;
    border-radius: 10px;
    border-bottom: 1px solid black;

}

.lvll{
    position: relative;
    left: 480px;
}

.answer{
    margin-top: 0;
    font-size: 20px;
    border-radius: 10px;
    border-top: 1px solid black;
}

.white{
    color: white
}

.filT{
    position: relative;
    right: 203px;
}

.plusBox{
    border-radius: 12px;
    width: 230px;
    height: 40px;
    font-size: 23px;
    background-color: white;
    position: relative;
    right: 140px;
    margin-top: 20px;
}

.minusBox{
    border-radius: 12px;
    width: 230px;
    height: 40px;
    font-size: 23px;
    background-color: white;
    position: relative;
    right: 130px
}

.plusBox:hover{
    font-weight: 900;
    cursor: pointer;
}

.minusBox:hover{
    font-weight: 900;
    cursor: pointer;
}

.proc{
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    width: 70px;
    display: inline-block;
    font-size: 18px;
}

.vsego{
    width: 200px;
}

.vsegoProblems{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.black4{
    position: relative;
    font-size: 22px;
}

.showRightAnswer{
    margin-right: 510px;
}

.showRightAnswer1{
    color: white;
    position: absolute;
    bottom: 13px;
    left: 150px;
}

.conteynerInput{
    position: relative;
    right: 331px;
}

.qwer{
    margin-bottom: 60px;
}

.rightAnswer1{
    font-size: 18px;
}

.qqq{
    position: relative;
}

.qqq2{
    position: relative;
    bottom: 4px;
}
.pokOtw{
    cursor: pointer;
   
}

.pokOtw:hover{
    font-weight: 900;
}

.pokOtw2{
    cursor: pointer;

}

.pokOtw2:hover{
    font-weight: 900;
}

img{
    margin-bottom: 0;

    
}