.q{
    margin: 0 auto;
    padding: 0;
    font-size: 30px;
    font-family: 'PT Serif', serif;
    width: 1000px;
    height: 750px;
}

button, input, header{
    font-family: 'PT Serif', serif;
}

#commit1{
    position: absolute;
    top: 350px;
    left: 410px;
}

.w900{
    font-weight: 900;
}

#time{
    margin-top: 50px;
}

h3{
    margin-top: 0px;
    transform: translateY(100px)
}
.a{
    margin: 0 auto;
    height: 750px;
    width: 1000px;
    background-color: honeydew;
}

#cont, #cont1, #time, h3, #rules{
    text-align: center;
}

#rules{
    position: relative;
    top: 100px
}

#plus{
    color: greenyellow;
}

#minus{
    color: red;
}

#podcont, #podcont1{
    width: 23%;
    height: 100px;
    background-color: black;
    margin-bottom: 10px;
    display: inline-block;
}

#cont, #time{
    transform: translateY(200px)
}

.word{
    position: absolute;
    left: 350px;
    margin-right: 300px;
}


.WW{
    position: relative;
    left: 100px;
}


.close{
    display:none;
}

.zapas{
    font-size: 14px;
}

.radio{
    position: absolute;
    left: 300px;
    transform: translateY(10px);
}

.radio {
	display: inline-block;
	margin-right: 10px;
    height: 20px;
    width: 20px;
}
.radio input[type=radio] {
	display: none;
}
.radio label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 
/* Checked */
.radio input[type=radio]:checked + label {
	background: #ffe0a6;
}
 
/* Hover */
.radio label:hover {
	color: #666;
}
 
/* Disabled */
.radio input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}


#point{
    position: absolute;
    right: 200px
}

#startGame, #commit{
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    margin-top: 100px;
}

#plus, #minus{
    border-radius: 12px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    margin-top: 100px;
    font-size: 50px;
}

#startGame:hover, #plus:hover, #minus:hover, #commit:hover{
    background-color: rgb(247, 243, 243);
    font-weight: 900;
}

#thisWord{
    font-size: 45px;
}